body {
  margin: 0;
  font-family: 'Steppe', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Steppe';
  src: url('./assets/Fonts/Steppe.ttf') format('truetype'),
  url('./assets/Fonts/Steppe.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


